
research_to_deployment/cifar10/production/.vscode/launch.json
research_to_deployment/cifar10/production/.vscode/settings.json
research_to_deployment/cifar10/production/dist/cifar_10_model-0.1.0-py3-none-any.whl
research_to_deployment/cifar10/production/dist/cifar_10_model-0.1.0.tar.gz
research_to_deployment/cifar10/production/cifar_10_model.egg-info/top_level.txt
research_to_deployment/cifar10/production/cifar_10_model.egg-info/PKG-INFO
research_to_deployment/cifar10/production/cifar_10_model.egg-info/dependency_links.txt
research_to_deployment/cifar10/production/cifar_10_model.egg-info/requires.txt
research_to_deployment/cifar10/production/cifar_10_model.egg-info/SOURCES.txt
research_to_deployment/cifar10/production/dist/cifar_10_model-5.0.0.tar.gz
research_to_deployment/cifar10/production/dist/cifar_10_model-5.0.0-py3-none-any.whl
