
cifar10_research_to_development/production/.vscode/launch.json
cifar10_research_to_development/production/.vscode/settings.json
cifar10_research_to_development/production/dist/cifar_10_model-0.1.0-py3-none-any.whl
cifar10_research_to_development/production/dist/cifar_10_model-0.1.0.tar.gz
cifar10_research_to_development/production/cifar_10_model.egg-info/top_level.txt
cifar10_research_to_development/production/cifar_10_model.egg-info/PKG-INFO
cifar10_research_to_development/production/cifar_10_model.egg-info/dependency_links.txt
cifar10_research_to_development/production/cifar_10_model.egg-info/requires.txt
cifar10_research_to_development/production/cifar_10_model.egg-info/SOURCES.txt
cifar10_research_to_development/production/dist/cifar_10_model-5.0.0.tar.gz
cifar10_research_to_development/production/dist/cifar_10_model-5.0.0-py3-none-any.whl
cifar10_research_to_development/production/dist/cifar_10_model-7.2.0-py3-none-any.whl
cifar10_research_to_development/production/dist/cifar_10_model-7.2.0.tar.gz
cifar10_research_to_development/production/dist/cifar_10_model_gudiduriss_v1-7.1.0-py3-none-any.whl
cifar10_research_to_development/production/dist/cifar_10_model_gudiduriss_v1-7.1.0.tar.gz
*.pyc
cifar10_research_to_development/production/src/cifar_10_model_gudiduriss_v1.egg-info/dependency_links.txt
cifar10_research_to_development/production/src/cifar_10_model_gudiduriss_v1.egg-info/PKG-INFO
cifar10_research_to_development/production/src/cifar_10_model_gudiduriss_v1.egg-info/SOURCES.txt
cifar10_research_to_development/production/src/cifar_10_model_gudiduriss_v1.egg-info/top_level.txt
cifar10_research_to_development/production/src/cifar_10_model_gudiduriss_v1.egg-info/dependency_links.txt
cifar10_research_to_development/production/src/cifar_10_model_gudiduriss_v1.egg-info/PKG-INFO
cifar10_research_to_development/production/src/cifar_10_model_gudiduriss_v1.egg-info/SOURCES.txt
cifar10_research_to_development/production/src/cifar_10_model_gudiduriss_v1.egg-info/top_level.txt
cifar10_research_to_development/production/dist/cifar_10_model_gudiduriss_v1-7.1.0-py3-none-any.whl
cifar10_research_to_development/production/dist/cifar_10_model_gudiduriss_v1-7.1.0.tar.gz
