include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./cifar_10_model/*.py

include cifar_10_model/trained_models/*.pkl
include cifar_10_model/trained_models/*.h5
include cifar_10_model/VERSION
include cifar_10_model/testing_images/automobile/automobile.png
include cifar_10_model/testing_images/cat/cat/1.png

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]