include *.txt
include *.md
include *.cfg
include *.h5
recursive-include ./cifar_10_model/*.py

graft src/cifar_10_model/trained_models

include src/cifar_10_model/VERSION
include src/cifar_10_model/testing_images/automobile/automobile.png
include src/cifar_10_model/testing_images/cat/cat.png

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]